.App {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

body{ 
  background-color: cornflowerblue;
  height: 100%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container{
  display: flex;
  width: 75vw;
  margin-top: 10vh;
  height: 100%;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.form{
  height: 50px;
  width: 150px;
}
.button-container{
  margin-top: 10px;
  margin-bottom: 50vh;
  width: 150px;
}

.info-container{
  height: 30vh;
}